<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookIdea</title>
    <link rel="stylesheet" href="..\static\css\homestyle.css">


</head>
<body>
    <nav class="navigation">
      <img src="..\static\img\1.png" alt="logo cook Idea" height="100px" width="100px">
      <input type="text" id="searchBar" placeholder="CERCA...">
      <a href="#">Home</a>
      <button class="btnLogin-popup">Login</button>
    </nav>

    <div id="container">

    <div class="wrapper">
      <span class="icon-close">
          <ion-icon name="close"></ion-icon>
      </span>
      <div class="form-box login">
          <h2>Login</h2>
          <form action="#">
              <div class="input-box">
                  <span class="icon">
                      <ion-icon name="mail"></ion-icon>
                  </span>
                  <input type="email" required>
                  <label>Indirizzo email</label> 
              </div>
              <div class="input-box">
                  <span class="icon">
                      <ion-icon name="lock-closed"></ion-icon>
                  </span>
                  <input type="password" required>
                  <label>Password</label> 
              </div>
              <div class="remember-forgot">
                  <label><input type="checkbox"> Ricordami</label>
                  <a href="#">Password dimenticata?</a>
              </div>
              <button type="submit" class="btn">Accedi</button>
              <div class="login-register">
                  <p>Non hai ancora un account?<a href="#" class="register-link"> Registrati</a></p>
              </div>
          </form>
      </div>
      <div class="form-box register">
          <h2>Crea account</h2>
          <form action="#">
              <div class="input-box">
                  <span class="icon">
                      <ion-icon name="person"></ion-icon>
                  </span>
                  <input type="text" required>
                  <label>Username</label>
              </div>
              <div class="input-box">
                  <span class="icon">
                      <ion-icon name="mail"></ion-icon>
                  </span>
                  <input type="email" required>
                  <label>Indirizzo email</label>
              </div>
              <div class="input-box">
                  <span class="icon">
                      <ion-icon name="lock-closed"></ion-icon>
                  </span>
                  <input type="password" required>
                  <label>Password</label> 
              </div>
              <div class="remember-forgot">
                  <label><input type="checkbox"> Accetto termini e condizioni</label>
              </div>
              <button type="submit" class="btn">Registrati</button>
              <div class="login-register">
                  <p>Hai già un account?<a href="#" class="login-link"> Accedi</a></p>
              </div>
          </form>
      </div>
    </div class="wrapper">

      <div id="antipasti" class="box">antipasti</div>
      <div id="primi" class="box">primi</div>
      <div id="secondi" class="box">secondi</div>
      <div id="dessert" class="box">dessert</div>


      <footer>footer</footer>

  </div>
  
      
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="..\static\js\login.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>