<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookIdea</title>
    <!-- Link 2 link CSS carosello -->
    <link rel="stylesheet" href="/static/css/slide.css" media="screen">
    <link rel="stylesheet" href="/static/css/flickity.css" media="screen">
    <!-- Link CSS per Login e Navbar -->
    <link rel="stylesheet" href="/static/css/homestyle.css" media="screen">


    <link rel="stylesheet" href="..\static\css\navbar.css">
    <link rel="stylesheet" href="\static\css\navbar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">

</head>
<body>
    <!-- Inizio Nav -->
    <header>
        <nav class="navbar custom-navbar">
            <div class="custom-container">
                <div class="left-section">
                    <h1 class="logo"> <img src="../static/img/1.png" alt="logo"></h1>
                </div>
                <form class="search-form" action="/web/ricerca/ricercaPerNome" method="GET">
                    <input id="searchBar" type="text" name="nome_piatto" placeholder="Cerca...">
                    <button type="submit" id = "search"> <img src="../static/img/magnifying-glass.png" alt="Cerca"></button>
                </form>
                <div class="right-section">
                    
                  

                    <a href="{{ url_for('register') }}" class="link-menu">Registrati</a>
                    <a href="{{ url_for('login') }}" class="link-menu">Login</a>
                </div>
            </div>
        </nav>
    </header>
    <!-- Inizio Flickity -->
    <div class="carousel"data-flickity='{ "freeScroll": true }'>
        {% for immagine in listaImmagini %}
    <div class="carousel-cell" style="background-image: url(/static/recipes/{{immagine}}); background-size: cover;"></div>
        {% endfor %}
    </div>
    <!-- Inizio Schede -->
    <div id="container">
        {% for portata in listaPortate %}
        <a href="/web/ricercaPerPortata/{{portata.nome.lower()}}">
        <div id="{{ portata.nome.lower() }}" class="box" style="background-image: url({{portata.image_url}});">{{ portata.nome }}</div>
        </a>
        {% endfor %}        
        
        <footer></footer>
    </div>
    <!--Script carosello -->
    <script src="../static/js/flickity.pkgd.js"></script>
    <!--Script dropdown-->
    <script src = "../static/js/dropdown.js"></script>


</body>
</html>