<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookIdea</title>
    <link rel="stylesheet" href="\static\css\ricetta.css">
    <link rel="stylesheet" href="\static\css\ricetta.css">
    <link rel="stylesheet" href="\static\css\navbar.css">
    <link rel="stylesheet" href="\static\css\navbar.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alatsi&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Inizio Nav -->
    <header>
        <nav class="navbar custom-navbar">
            <div class="custom-container">
                <div class="left-section">
                    <a href="/">
                        <h1 class="logo"> <img src="/static/img/1.png" alt="logo"></h1>
                    </a>
                </div>
                <form class="search-form" action="/web/ricerca/ricercaPerNome" method="GET">
                    <input id="searchBar" type="text" name="nome_piatto" placeholder="Cerca...">
                    <button type="submit" id = "search"> <img src="/static/img/magnifying-glass.png" alt="Cerca"></button>
                </form>
                <div class="right-section">
                    
                    <div class="dropdown">
                        <button id="dropdownBtn" class="dropbtn">MyCookIdea</button>
                        <div id="dropdownContent" class="dropdown-content">
                            <a href="#">My List</a>
                            <a href="#">My Menu</a>
                            <a href="/web/favorites">My Preference</a>
                        </div>
                    </div>
                    <a href="/logout" class="link-menu">Esci</a>
                </div>
            </div>
        </nav>
    </header>

    <div id="container"> 
        <div class="recipe">
            <h1 class="recipe_name">{{piatto.nome_piatto}}</h1>
            <button id="favoriteButton" class="{{favoriteClass}}" username ="{{session['username']}}" id_piatto="{{piatto.id}}"><ion-icon name="heart-outline"></ion-icon></button>
            <img src="\static\recipes\{{piatto.image_name}}" alt="Ricetta" class="recipe_image">
            <div class="recipe_details_box">
                <div class="recipe_details">
                <div class="recipe_detail">
                    <h3>Tempo di preparazione</h3>
                    <p>{{piatto.tempo}}</p>
                </div>
                <div class="recipe_detail">
                    <h3>Difficoltà</h3>
                    <p>{{piatto.difficolta}}</p>
                </div>
                <div class="recipe_detail">
                    <h3>Portata</h3>
                    <p>{{piatto.portata}}</p>
                </div>
            </div>
            <div class="recipe_section">
                <h2 class="recipe_title">Ingredienti</h2>
                <div class="recipe_ingredienti">
                    <ul class="list_ingredienti">
                        {% for ingrediente in piatto.ricettario %}
                        <li class="list_ingredienti">{{ingrediente.nome_ingrediente}} :   {{ingrediente["quantita_ingrediente"]}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="recipe_section">
                <h2 class="recipe_title">Procedimento</h2>
                <div class="recipe_preparazione">
                    <h2 class="list_preparazione">{{piatto.procedimento}}</h2>
                </div>
            </div>
        </div>
        </div>
        
    </div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="\static\js\login.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src = "/static/js/dropdown.js"></script>
    <script src="/static/js/favorite.js"></script>
    
   
</body>
</html>
