<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookIdea</title>
    <link rel="stylesheet" href="..\static\css\homestyle.css">
    <link rel="stylesheet" href="..\static\css\ricetta.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
</head>
<body>

<nav class="navigation">
    <img src="..\static\img\1.png" alt="logo cook Idea" height="100px" width="100px">
    <input type="text" id="searchBar" placeholder="CERCA...">
    <a href="#">Home</a>
    <button class="btnLogin-popup">Login</button>
</nav>

<div id="container">

<div class="wrapper">
    <span class="icon-close">
        <ion-icon name="close"></ion-icon>
    </span>
    <div class="form-box login">
        <h2>Login</h2>
        <form action="#">
            <div class="input-box">
                <span class="icon">
                    <ion-icon name="mail"></ion-icon>
                </span>
                <input type="email" required>
                <label>Indirizzo email</label> 
            </div>
            <div class="input-box">
                <span class="icon">
                    <ion-icon name="lock-closed"></ion-icon>
                </span>
                <input type="password" required>
                <label>Password</label> 
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox"> Ricordami</label>
                <a href="#">Password dimenticata?</a>
            </div>
            <button type="submit" class="btn">Accedi</button>
            <div class="login-register">
                <p>Non hai ancora un account?<a href="#" class="register-link"> Registrati</a></p>
            </div>
        </form>
    </div>
    <div class="form-box register">
        <h2>Crea account</h2>
        <form action="#">
            <div class="input-box">
                <span class="icon">
                    <ion-icon name="person"></ion-icon>
                </span>
                <input type="text" required>
                <label>Username</label>
            </div>
            <div class="input-box">
                <span class="icon">
                    <ion-icon name="mail"></ion-icon>
                </span>
                <input type="email" required>
                <label>Indirizzo email</label>
            </div>
            <div class="input-box">
                <span class="icon">
                    <ion-icon name="lock-closed"></ion-icon>
                </span>
                <input type="password" required>
                <label>Password</label> 
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox"> Accetto termini e condizioni</label>
            </div>
            <button type="submit" class="btn">Registrati</button>
            <div class="login-register">
                <p>Hai già un account?<a href="#" class="login-link"> Accedi</a></p>
            </div>
        </form>
    </div>
</div>

<div class="recipe">
    <h1 class="recipe_name">Lasagna</h1>
    <img src="percorso_della_tua_foto.jpg" alt="Ricetta" class="recipe_image">
    <div class="recipe_section">
        <h2 class="recipe_title">Ingredienti</h2>
        <div class="recipe_ingredienti">
            <ul>
                <li>Ingrediente 1</li>
                <li>Ingrediente 2</li>
                <li>Ingrediente 3</li>
                
            </ul>
        </div>
    </div>
    <div class="recipe_section">
        <h2 class="recipe_title">Preparazione</h2>
        <div class="recipe_preparazione">
            <ol>
                <li>Passo 1</li>
                <li>Passo 2</li>
                <li>Passo 3</li>
            
            </ol>
        </div>
    </div>
</div>
        
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="..\static\js\login.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>



</body>
</html>
