<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ricetta</title>
        <link rel="stylesheet" href="ricetta.css">
    </head>
    <body>

<div class="contaniner">
    <div class="recipe">
        <img src="foto ricetta" alt="Ricetta">
        <div class="recipe_section">
            <h2 class="recipe_title">Ingredienti</h2>
            <div class="recipe_ingredienti">
               
            </div>
        </div>
        <div class="recipe_section">
            <h2 class="recipe_title">preparazione</h2>
            <div class="recipe_preparazione">

                
            </div>
        </div>
    </div>
</div>


    </body>
</html>