<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookIdea</title>

    <link rel="stylesheet" href="../static/css/spesa.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Lista della Spesa</h1>

        <!-- Anteprima della ricetta -->
        <div class="recipe-preview">
            <h2>Ricetta: NOME_RICETTA</h2>
            <img src="URL_IMMAGINE_RICETTA" alt="Immagine della ricetta">
           
        </div>

        <!-- Lista della spesa -->
        <div id="container">
            <ul id="shopping-list">
                <li>Pasta<button class="toggle-ingrdient"></button></li>
                <li>Pomodori<button class="toggle-ingrdient"></button></li>
                <li>Mozzarella<button class="toggle-ingrdient"></button></li>
                <li>Pane<button class="toggle-ingrdient"></button></li>
                <li>Frutta<button class="toggle-ingrdient"></button></li>
                <li>Verdure<button class="toggle-ingrdient"></button></li>
            </ul>
           <button id="clear-checked">Elimina i selezionati</button> 
        </div>
    </div>
    <script src="../static/js/spesa.js"></script>
</body>
</html>
