body{
  
    background-image: url('assets/background.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(2px);


}

nav {
  overflow: hidden;
  background-color: rgba(128, 128, 128, 0.95); /* Grigio elegante con opacità del 80% */
  border-radius: 1%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  grid-area: 1/1/4/10;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  height: 110px; 
}



nav>img{
    height: 100px;
    grid-area: 1/1/2/2;
}

footer{
    grid-area: 33/1/35/10;
    background-color: rgba(0, 0, 0, 0.5);
}

#container{
    display: grid;
    grid-template-rows: auto;
    grid-auto-rows: 40px;
    gap: 1rem; 
}

#searchBar{
    margin-top: 30px;
    width: 300px;
    height: 50px;
    background-color: #ffffff;
    font-size: 17px;
    justify-content: center;
    border: none;
    text-align: center;
    float: right;
    border-radius: 6rem;
}

@keyframes carousel {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0);
    }
}
#carosello{
    background-color: blue;
    grid-area: 5/2/12/9;
    background-color: blue;
    overflow: hidden; /* Assicura che il contenuto non esca dalla visualizzazione */
    white-space: nowrap; /* Impedisce la rottura del testo */
    background-color: blue;
}
.container {
    grid-area: 6/2/12/9;
    margin: 0 auto;
    width: 350px;
    height: 200px;
    position: relative;
    perspective: 500px;
  }
  
  .carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    user-select: none; /* Disable text selection */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .carousel div {
    transform-style: preserve-3d;
  }
  
  .item {
    display: block;
    position: absolute;
    background: linear-gradient(to bottom, #f9f9f9, #e0e0e0);
    width: 350px;
    height: 200px;
    line-height: 200px;
    font-size: 2em;
    text-align: center;
    color: #333;
    opacity: 1;
    border-radius: 10px;
    transition: transform 1s, opacity 0.5s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .slide1 {
    transform: rotateY(0deg) translateZ(250px);
  }
  .slide1 .item {
  
    color: #fff; opacity:1;
  }
  .slide2 {
    transform: rotateY(60deg) translateZ(250px) rotateY(-60deg);
  }
  .slide2 .item {
    
    color: #fff; opacity:1;
  }
  .slide3 {
    transform: rotateY(120deg) translateZ(250px) rotateY(-120deg);
  }
  .slide3 .item {
    
    color: #fff; opacity:1;
  }
  .slide4 {
    transform: rotateY(180deg) translateZ(250px) rotateY(-180deg);
  }
  .slide4 .item {
    
    color: #fff; opacity:1;
  }
  .slide5 {
    transform: rotateY(240deg) translateZ(250px) rotateY(-240deg);
  } 
  .slide5 .item {
    
    color: #fff; opacity:1;
  }
  .slide6 {
    transform: rotateY(300deg) translateZ(250px) rotateY(-300deg);
  }
  .slide6 .item {
    
    color: #fff; opacity:1;
  }

#antipasti{
    grid-area: 13/2/17/9;

    color:#ececec;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 10); 
    font-family: "Della Respira", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 110px; 
    text-align: center; 
    line-height: 200px;
  
    background-image: url('assets/antipasti-transformed.jpeg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: scroll;
    border-radius: 3%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);

}

#primi{
    grid-area: 18/2/22/9;
    
    color:#ececec;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 10); 
    font-family: "Della Respira", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 110px; 
    text-align: center; 
    line-height: 200px;
  
    background-image: url('assets/new_primi.jpg');
    background-position: 120%;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: scroll;
    border-radius: 3%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);

}

#secondi{
    grid-area: 23/2/27/9;
    color:#ececec;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 10); 
    font-family: "Della Respira", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 110px; 
    text-align: center; 
    line-height: 200px;
  
    background-image: url('assets/altri_secondi.jpg');
    background-position: 50%;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: scroll;
    border-radius: 3%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

#dessert{
    grid-area: 28/2/32/9;
    color:#ececec;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 10); 
    font-family: "Della Respira", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 110px; 
    text-align: center; 
    line-height: 200px;
  
    background-image: url('assets/dessert.jpg');
    background-position: 50%;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: scroll;
    border-radius: 3%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1)
}

.box {
  
  transition: transform 0.3s ease; /* Transizione per l'animazione */
}

/* Effetto di ingrandimento al passaggio del cursore */
.box:hover {
  transform: scale(1.1);
}