* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Assicura che il padding e il bordo siano inclusi nelle dimensioni */
}

.page {
    display: flex;
    align-items: center;
}

.recipes-teaser {
    display: flex;
    flex-direction: column;
    margin: 2% 5% 2% 10%; /* Ridotto il margine a una dichiarazione */
    border: 2px solid black;
}

/* Stili per i container delle ricette */
.recipes-teaser {
    background-color: rgba(0, 0, 0, 0.5); /* Sfondo trasparente opacizzato */
    padding: 20px; /* Spaziatura interna */
    border-radius: 8px; /* Bordi arrotondati */
    margin-bottom: 20px; /* Margine inferiore */
}

.teaser.image img {
    max-width: 100%; /* Larghezza massima dell'immagine al 100% del contenitore */
    height: auto; /* Altezza automatica per mantenere le proporzioni */
    border-radius: 8px; /* Bordi arrotondati */
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5); /* Ombra */
    margin-top: 10px; /* Margine superiore */
    margin-bottom: 20px; /* Margine inferiore */

}

.teaser1.text {
    background-color: rgba(255, 255, 255, 0.3); /* Sfondo trasparente opacizzato */
    border-radius: 8px; /* Bordi arrotondati */
    padding: 20px; /* Spaziatura interna */
    margin-bottom: 20px; /* Margine inferiore */
}

.title {
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    color: #ececec;
    font-size: 38px;
    margin-bottom: 10px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.teaser-bottom{
    text-align: center;
}

h2{
    position: center;
    color: aliceblue; 
    text-decoration: none;
}

.recipes-teaser a {
    text-decoration: none;
}