*body{
    padding: 0;
    margin:0;
}

.page{
    align-items: center;
}

.recipes-teaser{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 10%;
}

.teaser1{
    display: flex;
    flex-direction: column;
    position:static;
}

.recipes-teaser .teaser.image,
.recipes-teaser .teaser1.text {
    display: inline-block;
    vertical-align: top; /* Assicura l'allineamento verticale */
}

.recipes-teaser {
    border: 2px solid black;
}

.teaser.image{
    border: 2px solid white;
    max-width: ;
}

img{
    max-width: 200px;
    max-height: 100px;
}