.custom-navbar {
  /* overflow: hidden; */
  background-color: rgb(128,128,128,0.95);
  display: flex;
  height: 100px;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.custom-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  display: flex;
  align-items: center;
}

#searchBar {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
  height: 30px;
  background-color: #ffffff;
  font-size: 17px;
  justify-content: center;
  border: none;
  text-align: center;
  float: right;
  border-radius: 6rem;
}

.nav-link {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 100;
  margin: 0 10px;
}

.btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid;
  outline: none;
  border-radius:  6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}

.btnLogin-popup:hover {
  background: #fff;
  color: #162938;
}

.custom-page-container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
  /* Altri stili desiderati per il container della pagina */
}
/* Aggiungi stili per il dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute; /* Imposta la posizione assoluta */
  background-color: #f9f9f9;
  min-width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%; /* Posiziona il dropdown sotto al bottone */
  left: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
  top: 100%;
  left: 0;
}


#searchButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#searchButton i {
  color: #fff;
  font-size: 20px;
}

#searchButton:hover i {
  color: #ccc;
}

/* Stili per il popup */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#loginPopup {
  position: fixed; /* Posiziona il popup in modo fisso rispetto alla finestra del browser */
  top: 50%; /* Posiziona il popup al centro verticalmente */
  left: 50%; /* Posiziona il popup al centro orizzontalmente */
  transform: translate(-50%, -50%); /* Centra il popup */
  z-index: 1000; /* Assicura che il popup sia sovrapposto agli altri elementi */
  background-color: rgba(0, 0, 0, 0.5); /* Colore di sfondo del popup */
  padding: 20px; /* Spaziatura interna */
  border: 1px solid #ccc; /* Bordo del popup */
  border-radius: 5px; /* Angoli arrotondati */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombra */
  display: none; /* Inizialmente nasconde il popup */
}
