body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/background_blur.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;  
    background-size: cover; /* Per adattare l'immagine alla dimensione dell'intera finestra del browser */
    background-repeat: no-repeat; 
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

}

.recipe {
    margin-bottom: 30 px;
}

.recipe img{
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
}

.recipe_section{
    background-color: transparent ;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.recipe_title{
    color: #ececec;
    font-size: 24px;
    margin-bottom: 10px;

}

.recipe_ingredienti, .recipe_preparazione{
    margin-bottom: 20px;
    color: #ececec;

}
nav{
    overflow: hidden;
    background-color: rgb(128,128,128,0.95);
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav img{
  margin-top: auto;
  margin-bottom: auto;
}

#container{
    display: grid;
    position: relative;
    grid-template-areas: "navbar" "login";
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-auto-rows: auto auto;
    gap: 1rem; 
}

#searchBar{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    height: 30px;
    background-color: #ffffff;
    font-size: 17px;
    justify-content: center;
    border: none;
    text-align: center;
    float: right;
    border-radius: 6rem;
}

.navigation a{
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 100;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
}
.navigation a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}
.navigation a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}
.navigation .btnLogin-popup{
  width: 100px;
  height: 30px;
  background: transparent;
  border: 2px solid;
  outline: none;
  border-radius:  6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: auto;
  transition: .5s;
}
.navigation .btnLogin-popup:hover{
  background: #fff;
  color: #162938;
}

.wrapper {
    position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: grid;
  grid-area: 3/5/5/5;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition:transform .5s ease, height .2s ease;
}

.wrapper.active-popup {
    transform: translate(-100%, -100%) scale(1);
}

.wrapper.active {
    height: 520px;
}


.wrapper .form-box{
  width: 380px;

}
.wrapper .form-box.login{
  transition: transform .18s ease;
  transform:  translateX(0);
}
.wrapper.active .form-box.login{
  transition: none;
  transform: translateX(-400px);
}
.wrapper .form-box.register{
  position: absolute;
  transform: translateX(400px);
}
.wrapper.active .form-box.register{
  transition: transform .18s ease;
  transform:  translateX(10px);
}
.wrapper .icon-close{
  position: absolute;
  top:  0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #ffffff;
  font-size: 2em;
  color: #162938;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}
.form-box h2{
  font-size: 2em;
  color: #fff;
  text-align: center;
}
.input-box{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom:  2px solid #fff;
  margin: 30px 0;
}
.input-box label{
  position: absolute;
  top: 40%;
  left: 0px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  pointer-events: none;
  transition: 0s;
}
.input-box input:focus~label,
.input-box input:valid~label{
  top: -10px;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
}
.input-box .icon{
  position: absolute;
  right: 8px;
  top: -12px;
  font-size: 1.2em;
  color: #fff; 
  line-height: 80px;
}
.remember-forgot{
  font-size: .9em;
  color: #fff;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input{
  accent-color: #fff;
  margin-right: 3px;
}
.remember-forgot a{
  color: #fff;
  text-decoration: none;
}
.remember-forgot a:hover{
  text-decoration: underline;
}
.btn{
  width: 100%;
  height: 45px;
  width: 200px;
  margin-left: 25%;
  background: #162938;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}
.login-register{
  font-size: .9em;
  color: #fff;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.login-register p a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.login-register p a:hover{
  text-decoration: underline;
}

.recipe_name {
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-size: 70px;
    font-style: normal;
    color: #ececec;
     margin-left: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.0);
}

footer{
    

  }