* {
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
}

body{
  background-image: url('../img/background_blur.jpg');
  min-height: 100vh;
  background-position: center;  
  background-size: cover; /* Per adattare l'immagine alla dimensione dell'intera finestra del browser */
  background-repeat: no-repeat; /* Per evitare la ripetizione dell'immagine */
}

nav{
   
    background-color: rgb(128,128,128,0.95);
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav img{
  margin-top: auto;
  margin-bottom: auto;
  filter: blur(5px);
}

#container{
  display: grid;
  position: relative;
  grid-template-rows: auto;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}

#searchBar{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
  height: 30px;
  background-color: #ffffff;
  font-size: 17px;
  justify-content: center;
  border: none;
  text-align: center;
  float: right;
  border-radius: 6rem;
}

h1{
  font-family: 'Passion One', sans-serif;
}

.navigation a{
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 100;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.navigation a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnLogin-popup{
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid;
  outline: none;
  border-radius:  6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 40px;
  transition: .5s;
}

.navigation .btnLogin-popup:hover{
  background: #fff;
  color: #162938;
}

.wrapper{
  width: 100%;
  max-width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition:transform .5s ease, height .2s ease;
  z-index: 2; /* Non cambiare, server per avere la scheda di Login sopra a tutto quando usata*/
  margin-top: 10%;
  grid-area: 1/4/2/9;
}

.wrapper.active-popup{
  transform: scale(1);
}
.wrapper.active{
  height: 520px;
}

.wrapper .form-box{
  width: 80%;
  padding: 40px;
}
.wrapper .form-box.login{
  transition: transform .18s ease;
  transform:  translateX(0);
}

.wrapper.active .form-box.login{
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register{
  width: 80%;
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register{
  transition: transform .18s ease;
  transform:  translateX(0px);
}

.wrapper .icon-close{
  position: absolute;
  top:  0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #ffffff;
  font-size: 2em;
  color: #162938;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.form-box h2{
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.input-box{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom:  2px solid #fff;
  margin: 30px 0;
}

.input-box label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  pointer-events: none;
  transition: 0s;
}

.input-box input:focus~label,
.input-box input:valid~label{
  top: -5px;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
}

.input-box .icon{
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #fff; 
  line-height: 57px;
}

.remember-forgot{
  font-size: .9em;
  color: #fff;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input{
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a{
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover{
  text-decoration: underline;
}

.btn{
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.login-register{
  font-size: .9em;
  color: #fff;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  
}

.login-register p a:hover{
  text-decoration: underline;
}

.recipe{
  grid-area: 1/3/4/9;
}

.recipe img{
  max-width: 80%;
  display: block;
  margin-bottom: 20px;
  align-items: center;
  position: center;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow:4px 4px 4px rgba(0, 0, 0, .5);
}

.recipe_section{
  background-color: transparent ;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.recipe_title{
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  color: #ececec;
  font-size: 38px;
  margin-bottom: 10px;
  text-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);
}

.recipe_ingredienti, .recipe_preparazione{
  margin-bottom: 20px;
  color: #ececec;
}

.list_ingredienti{
  margin-left: 1%;
  font-family:"Alatsi", sans-serif;
  font-weight:400;
  font-size: 20px;
  font-style: normal;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.5);
}

.list_preparazione{
  font-family:"Alatsi", sans-serif;
  font-weight:400;
  font-size: 28px;
  font-style: normal;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.5);
}

.recipe_name {
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-size: 70px;
    font-style: normal;
    color: #ececec;
    margin-left: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.0);
}


.recipe_details_box {
  background-color: rgba(0, 0, 0, 0.5); /* Colore di sfondo trasparente opacizzato */
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  width:100%;
}

.recipe_details,
.recipe_section {
  margin-bottom: 20px;
  flex-basis: calc(100% - 40px);
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

.recipe_detail {
  padding: 10px;
  text-align: center;
}

.recipe_detail h3 {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-size: 25px; 
  margin-bottom: 5px;
  color: #ececec;
  text-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);
}

.recipe_detail p {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  color: #ececec;
  text-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);
}

.recipe {
  display: flex; /* Utilizziamo flexbox per organizzare gli elementi */
  flex-direction: column; /* Organizziamo gli elementi in colonna */
  align-items: center; /* Centriamo gli elementi orizzontalmente */
  margin-bottom: 30px;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
}

.favorite-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.favorite-button ion-icon {
  font-size: 30px;
  color: #fff; /* Colore di default */
}

.favorite-button.favorite ion-icon {
  
  color: red; /* Cambio colore quando preferito */
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.animate-heart {
  animation: heartBeat 0.5s ease;
}



footer{
  background-color: rgb(128,128,128,0.5);
  height: -50%;
}