body {
    background-image: url('../img/background_blur.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;  
    background-size: cover; 
    background-repeat: no-repeat; 
    font-family: 'Passion One', sans-serif;
    margin: 0%;
}

.container {
    position: relative;
    max-width: 600px;
    margin: 50px auto;
    /* background-color: #fff; */
    background-image: url("../img/lista_spesa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-preview {
    text-align: center;
    margin-bottom: 20px;
}

.recipe-preview h2 {
    color: #333;
}

.recipe-preview img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

.recipe-preview p {
    color: #555;
}

#container {
    margin-top: 5%;
}

h1 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    font-size: 29px;
    color: #555;
    position: relative;
}

li::before {
    content:url('../img/light-bulb\ \(1\).png') ;
   
    display: inline-block;
    width: 0.8em;
    margin-left: -0.5em;
}

.toggle-ingrdient{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position:absolute;
    right: 0; /* Allineamento al margine destro del container */
    top: 50%; /* Posizionamento al centro verticalmente */
    transform: translateY(-50%); /* Centro verticalmente */
    
}

#clear-checked{
    border-radius: 8px;
    height: fit-content;
    font-size: 20px;
    font-family: 'Passion One', sans-serif;
    font-weight: 400;
}
  